body {
  color: $color-gray-bg-light;
  background-color: $color-primary;

  font-family: $font-main;
  font-weight: 400;
}

.flex {
  display: flex;
}

.flex-justify-items {
  justify-content: center;
}

.flex-align-items {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

hr {
  height: 2px;
  width: 50px;
  border: 0;
  background-color: #dabc74;
}

input, button {
  font-family: $font-main;
  color: $color-gray-bg-light;
}

input {
  margin-right: 5px;
}
