footer {
  justify-content: space-between;

  max-width: 992px;
  margin: 0 auto;
  padding: $gap 0;
}

.contacts {
  width: 30%;
  padding: $gap 15px 0;

  @media (max-width: 899px) {
    &:first-of-type {
      width: 50%;
    }

    &:nth-of-type(2) {
      width: 30%;
    }

    &:nth-of-type(3) {
      width: 100%;
    }
  }

  @media (max-width: 300px) {
    &:first-of-type {
      width: 100%;
    }

    &:nth-of-type(2) {
      width: 100%;
    }

    &:nth-of-type(3) {
      width: 100%;
    }
  }

  &__description {
    padding-top: $gap;
  }

  &__link {
    margin-top: $gap;

    text-decoration: none;

    color: #6ba3a2;
  }
}

.social {

  &-icon {
    width: 30px;
    height: 30px;
  }
}

.subscribe-item {
  flex-direction: column;
  input {
    padding: 5px 15px 5px 10px;

    border: 1px solid $color-gray-bg-light;
    justify-content: stretch;

    &::placeholder {
      color: $color-gray-bg-light;

      font-size: 0.8em;
    }
  }
}

.subscribe-form__btn {
  width: 98%;
  margin-top: 5px;
  padding: 8px 10px;
  justify-content: stretch;
  color: $color-light;
  border: 0;
  background-color: $color-gray-bg-light;
  font-size: 0.8em;

  @media (max-width: 899px) {
    width: 99%;
  }
  @media (max-width: 300px) {
    width: 98%;
  }
}
