.header {
  z-index: 99;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  min-height: 75vh;
  padding: $gap;

  background-image: url(../../assets/images/rio.jpg);
  background-position: 50% 50%;
  background-size: cover;

  &-content {
    &__container {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      padding: 20% 0;
    }

    &__accent {
      letter-spacing: 0.03em;
      text-transform: uppercase;

      color: $color-light;

      font-family: $font-header;
      font-size: 0.95em;
      font-weight: 400;


      &:before {
        padding: 0 10px 0 0;

        content: url("../../assets/images/line.png");
        @media (max-width: 288px) {
          display: none;

          padding: 0;
        }
      }

      &:after {
        padding: 0 0 0 10px;

        content: url("../../assets/images/line.png");
        @media (max-width: 288px) {
          display: none;

          padding: 0;
        }
      }
    }

    &__title {
      padding: 2vw;

      text-align: center;
      letter-spacing: 0.03em;

      color: $color-light;

      font-family: $font-header;
      font-size: 4.0625em;
      font-weight: 400;
      @media (max-width: 678px) {
        font-size: 3em;
      }
    }
  }
}

.header-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.header-navbar {
  &__list {
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 0;

    list-style: none;

    font-size: 1.125rem;
  }

  &__item {
    margin: 1vw 3vw;
  }

  &__link {
    transition: color 0.5s;
    text-decoration: none;

    color: $color-light;

    font-family: $font-main;
    font-size: 1em;

    &__accent {
      padding: 10px 30px;

      background-color: #878586;
    }

    &:hover {
      color: $color-gray-dark;
    }
  }
}

.border {
  width: 1px;

  content: "|";

  background-color: $color-light;
}
