.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 75vh;
  padding: $gap;

  background-position: 50% 50%;
  background-size: cover;
  background-image: url(../../assets/images/rio.jpg);
  z-index: 99;

  &-content {

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

    }

    &__accent {
      text-transform: uppercase;
      font-family: $font-header;
      letter-spacing: 0.03em;
      font-size: 0.95em;
      font-weight: 400;
      color: $color-light;


      &:before {
        content: url("../../assets/images/line.png");
        padding: 0 10px 0 0;
      }

      &:after {
        content: url("../../assets/images/line.png");
        padding: 0 0 0 10px;
      }
    }

    &__title {
      font-family: $font-header;
      letter-spacing: 0.03em;
      font-size: 4.0625em;
      font-weight: 400;
      color: $color-light;
      padding: 2vw;
    }
  }
}

.header-menu {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.header-navbar {
  &__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    list-style: none;
    font-size: 1.125rem;
    z-index: 1;
  }

  &__item {
    margin: 1vw 3vw;

  }

  &__link {
    transition: color 0.5s;
    color: $color-light;
    text-decoration: none;
    font-size: 1em;
    font-family: $font-main;

    &__accent {
      background-color: #878586;
      padding: 10px 30px;


    }

    &:hover {
      color: $color-gray-dark;
    }
  }
}

.border {
  background-color: $color-light;
  content: "|";
  width: 1px;
}
