.main {
  margin: -80px auto 0;
  z-index: 1;
  &-container {
    padding: 20px 20px 0 ;
    max-width: 992px;
    background-color: $color-light;
    margin: -40px auto 0;
    z-index: 1;
    }

  }

.booking-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 20px 0;
  background: $color-light;
  flex-wrap: wrap;

  &__btn {
    background-color: $color-accent;
    color: $color-light;
    border: 0px;
    margin-top: 20px;
    padding: 8px 60px;

  }
}

.booking-item__input {

    &--short input{
      width: 50px;
      border: 1px solid $color-gray-light;
      padding:5px 10px;
      margin-top: 5px;

    }

  &--long input,
  booking-form__btn {
    max-width: 250px;
    width: 25vw;
    border: 1px solid $color-gray-light;
    padding: 5px 10px;
    margin-top: 5px;

  }
}

.main-content {

  &__container {
    margin: 40px auto 0;
  }

  &__title {
    h2 {
      text-align: center;
      font-weight: 400;
    }

    hr {
      height: 2px;
      background-color: #dabc74;
      border: 0;
      width: 50px
    }
  }

  &__description {
    p {
      text-align: center;
      padding: 1vw 5vw;
      line-height: 1.5em;
    }
  }
}

.card {
  display: flex;
  align-items: stretch;
  margin-right: -20px;
  margin-left: -20px;
  flex-flow: row wrap;
  justify-content: stretch;


  &__title {
    background-color: $color-accent;
    flex: 30% 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    max-height: 270px;

    @media (max-width: 678px) {
      flex: 100% 0;
    }
    h3 {
      text-align: center;
      font-weight: 400;
      color: $color-light;
    }

    hr {
      height: 2px;
      background-color: #dabc74;
      border: 0;
      width: 50px
    }
  }

  &__description {
    margin: 0 5.5vw;
    height: 270px;
    background-color: $color-light;
    flex: 1 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;

    @media (max-width: 678px) {
      flex: 100% 0;
    }

    p {
      line-height: 1.5em;
      font-weight: 400;
      font-size: 0.9em;
    }

    &-link {
      color: $color-accent;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 20px;
    }
  }

  &__image {
    max-height: 270px;
    width: auto;
    position: relative;
    margin-top: 0;

    @media (max-width: 678px) {
      flex: 100% 0;
    }

    & img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
  }

}

.image-small {
  flex: 30% 0;
  position: relative;
  max-height: 270px;
}
.image-big {
  flex: 1 60%;

}

.container-card-bottom {
  padding: 0 20px 0 ;
  max-width: 992px;
  margin: 30px auto 0;
}

.container-description-bottom {
  padding: 1em;
  max-width: 992px;
  background-color: $color-light;
  margin: 0 auto;

  p {
    text-align: center;
  }
}

.bottom-card {

  &__description {
    line-height: 1.5em;
    font-weight: 400;
    font-size: 0.9em;

    padding: 1vw 5vw 1vw;
  }

  &__link {
    color: $color-accent;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;
  }
}
