.main {
  z-index: 1;

  margin: -80px auto 0;
  &-container {
    z-index: 1;

    max-width: 992px;
    margin: -40px auto 0;
    padding: 20px 20px 0 ;

    background-color: $color-light;
  }
}

.booking-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 0 20px 0;

  background: $color-light;

  &__btn {
    margin-top: 20px;
    padding: 8px 60px;

    color: $color-light;
    border: 0;
    background-color: $color-accent;
  }
}

.booking-item__input {
  &--short input {
    width: 50px;
    margin-top: 5px;
    padding: 5px 10px;

    border: 1px solid $color-gray-light;
  }

  &--long input,
  booking-form__btn {
    width: 25vw;
    max-width: 250px;
    margin-top: 5px;
    padding: 5px 10px;

    border: 1px solid $color-gray-light;
  }
}

.main-content {
  &__container {
    margin: 40px auto 0;
  }

  &__title {
    h2 {
      text-align: center;

      font-weight: 400;
    }

    hr {
      width: 50px;
      height: 2px;

      border: 0;
      background-color: #dabc74;
    }
  }

  &__description {
    p {
      padding: 1vw 5vw;

      text-align: center;

      line-height: 1.5em;
    }
  }
}

.card {
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
  justify-content: stretch;

  margin-right: -20px;
  margin-left: -20px;


  &__title {
    display: flex;
    align-items: center;
    flex: 30% 0;
    flex-flow: column wrap;
    justify-content: center;

    max-height: 270px;

    background-color: $color-accent;

    @media (max-width: 678px) {
      flex: 100% 0;
    }
    h3 {
      text-align: center;

      color: $color-light;

      font-weight: 400;
    }

    hr {
      width: 50px;
      height: 2px;

      border: 0;
      background-color: #dabc74;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    flex: 1 25%;
    flex-flow: column wrap;
    justify-content: center;

    height: 270px;
    margin: 0 5.5vw;

    background-color: $color-light;

    @media (max-width: 678px) {
      flex: 100% 0;
    }

    p {
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.5em;
    }

    &-link {
      margin-top: 20px;

      text-decoration: none;
      text-transform: uppercase;

      color: $color-accent;
    }
  }

  &__image {
    position: relative;

    width: auto;
    max-height: 270px;
    margin-top: 0;

    @media (max-width: 678px) {
      flex: 100% 0;
    }

    & img {
      overflow: hidden;

      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}

.image-small {
  position: relative;

  flex: 30% 0;

  max-height: 270px;
}
.image-big {
  flex: 1 60%;
}

.container-card-bottom {
  max-width: 992px;
  margin: 30px auto 0;
  padding: 0 20px 0 ;
}

.container-description-bottom {
  max-width: 992px;
  margin: 0 auto;
  padding: 1em;

  background-color: $color-light;

  p {
    text-align: center;
  }
}

.bottom-card {
  &__description {
    padding: 1vw 5vw 1vw;

    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.5em;
  }

  &__link {
    margin-top: 20px;

    text-decoration: none;
    text-transform: uppercase;

    color: $color-accent;
  }
}
